
.find-reservation {
  height: auto;


  .form-group {
    display: flex;
    justify-content: space-between;
  }
  input {
      width: 48%;
  }
  margin-bottom: 2em;
}

section{
  display: flex;
  justify-content: space-between;

}
.box {

  text-align: center;
  margin: 2em;
  flex:48%;
  border: 2px solid black;
  height: auto;
  width: 10em;
}

.box:hover {
  background-color: red;
}
