header {
    background-image:url("/images/red-wall.jpg");
    background-size: 100% auto;
    color: rgb(255,255,255);

    h1{
      font-size: 4em;
      font-weight: normal;
      text-shadow: 2px 2px 4px #8e8e8e;
    }

    h2{
      font-size:1.5em;
      font-weight: normal;
    }
 }
