@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i");
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@import 'variables';
@import 'header';
@import 'body';
@import 'main-inner';
@import 'login-page';
@import 'footer';
@import 'all-guests';
@import 'create-guest';
@import 'reservations';
@import 'create-reservation';
@import 'not-found';
@import 'find-reservation';
@import 'single-reservation';
