$themecolor1: black; //black
$themecolor2: #8e8e8e; //grey
$mainContentTextColor: rgb(0,0,0);
$themeBorder: 1px solid rgb(180,180,180);
$themeBorderRadius: 0.3em;

$mobileReservationDetailWidth: 50%;
$mobileReservationDetailMargin: 1em auto;
