<h2>About Our Hotel</h2>
  <img src='images/door-windows.jpg' alt='An image of a door and window'>
  <p>Jean shorts aesthetic iPhone hammock actually, bespoke unicorn jianbing plaid poutine gochujang flannel subway tile fap.
    Cold-pressed portland man braid semiotics blue bottle, meditation listicle art party bitters actually 90's la croix.
    Keffiyeh truffaut squid, bespoke pinterest jean shorts bitters succulents PBR&B migas listicle. Gentrify marfa lo-fi edison bulb neutra squid.
    Hella knausgaard mlkshk, hot chicken chartreuse flannel quinoa deep v shabby chic yr drinking vinegar.</p>

  <p> Farm-to-table lo-fi kogi cronut, salvia small batch vexillologist echo park swag ugh sriracha you probably haven't heard of them intelligentsia.
    Cold-pressed whatever leggings, crucifix tousled occupy prism irony hot chicken biodiesel.
    Austin twee marfa, celiac church-key keytar gluten-free vexillologist sustainable succulents knausgaard hell of edison bulb flannel.
    Synth tousled YOLO, quinoa kombucha food truck pork belly mixtape gochujang hexagon craft beer.
    Narwhal helvetica tousled waistcoat lumbersexual, williamsburg direct trade DIY chartreuse banh mi jianbing fingerstache yuccie.</p>
