<h2>Create Guest</h2>

<form class='createguest' name='createguest' ng-submit='createguest.$valid'>
  <label for='Full Name' class='createguestlabel'>Full Name</label>
  <input type='text' name='First Name' class='createguestinput' placeholder='Full Name' id='full-name' required>

  <label for='E-mail' class='createguestlabel'>E-mail</label>
  <input type='email' name='E-mail' class='createguestinput' placeholder='E-mail' id='e-mail' required>

  <label for='Phone Number' class='createguestlabel'>Phone Number</label>
  <input type='number' name='Phone Number' class='createguestinput' placeholder='Phone Number' id='phone-number' required>

  <input class='btn btn-info' type='submit' value='Submit'>
</form>
