<h2>Create Reservation</h2>

<form name='newReservForm' class='newReservForm' ng-submit='reservationCtrl.createReservation(reservationCtrl.guest)'>


  <label for='check-in'>Check in</label>
  <input type='date' name='checkIn' id='check-in' ng-model ='reservationCtrl.guest.checkinDate' required>

  <label for='check-out'>Check out</label>
  <input type='date' name='checkOut' id='check-out' ng-model ='reservationCtrl.guest.checkoutDate' required>

  <label for='number-of-guests'>Number of Guests'</label>
  <input type='number' name='numberOfGuests' id='number-of-guests' ng-model ='reservationCtrl.guest.numberOfGuests'  placeholder='1' min='1' required>

  <label for='guest-id'>Guest</label>
  <input type='text' name='guestID' id='guest-id' ng-model ='reservationCtrl.guest.guestId' placeholder='Guest ID#' >

  <label for='room-id'>Room</label>

  <input type='text' name='roomID' id='room-id' ng-model ='reservationCtrl.guest.roomId' placeholder='Room ID#' >

  <input class='btn btn-info' type='submit' name='Make Reservation' value='submit'>
</form>
