<article ng-controller='LoginController as loginCtrl' class='page-header'>
     <h1>Staff Login</h1>

       <p ng-show='loginform.email.$touched && !loginform.email.$valid' class='alert alert-warning'>Please enter a valid email.</p>
       <p ng-show='loginform.password.$touched && !loginform.password.$valid' class='alert alert-warning'>Please enter a valid password.</p>

       <form class='form-group form-inline' name='loginform'
       ng-submit='loginform.$valid && loginCtrl.login(loginCtrl.newUser)'>


       <label for='username'>Email</label>
       <input ng-model='loginCtrl.newUser.username' class='form-control' type='text'
       name='username' placeholder='Username'>

       <label for='password'>Password</label>
       <input ng-model='loginCtrl.newUser.password' class='form-control' type='text'
       name='password' placeholder='.....'>


       <input type='submit' class='form-control btn btn-primary loginForm' value='login'
       ng-click='loginCtrl.removeUser(users)'>
       </form>

       <p ngIf={{loginCtrl.message}}> {{loginCtrl.message}} </p>
</article>
