
<section class='single-reservation'>

  <h3>Reservation #{{guestResCtrl.reservationInfo.id}}</h3>

  <p ng-show='guestResCtrl.message' ng-cloak class='alert alert-warning'>
    {{guestResCtrl.message}}
  </p>

  <aside class='guest-info'>
    <h4>{{guestResCtrl.reservationInfo.guest.fullName}}</h4>
    <h5>{{guestResCtrl.reservationInfo.guest.email}}</h5>
    <h5>{{guestResCtrl.reservationInfo.guest.phone}}</h5>
  </aside>

  <aside class='room-info'>
    <h4>Room #{{guestResCtrl.reservationInfo.room.number}}</h4>
    <h5>Max Occupancy: {{guestResCtrl.reservationInfo.room.maxOccupancy}}</h5>
  </aside>

  <aside class='dates'>
    <p>Check in: {{guestResCtrl.reservationInfo.checkinDate | date:"M/d/y"}}</p>
    <p>Check out: {{guestResCtrl.reservationInfo.checkoutDate | date:"M/d/y"}}</p>
  </aside>

</section>
